body {
    font-family: 'Imprima', sans-serif;
    font-weight: normal;
    font-size: 100%;
    width: 80%;
    /* Center the page */
    margin: 0 auto;
    background-color: #EEEEEE;
}

header {
    padding-top: 1em;
    padding-bottom: .25em;
    font-size: 3em;
    border-bottom: 2px solid #efa609;
}

footer {
    border-top: 2px solid #efa609;
    padding-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    clear:both;
}

address {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    display: inline-block;
}

img {
    /*display: inline-block;*/
    /*width: 95%;*/

}

ul {
    font-size: 1.5em;
    display: inline-block;
    width: 25%;
}

a {
    color: #efa609;
}

dl {
    font-size: 1.5em;
    display: inline-block;
    /*width: 40%;*/
    margin-left: 1em;
    /*vertical-align: middle;*/
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 2em 0;
    padding: 0;
}
.main_image {width:20em;float:left}
.main_image img {vertical-align: middle;width: 95%;}

.menu {padding-top:2em; clear:both}
.media {margin:10px;float:left;width:48%}
/*.media:nth-child(2n+1){margin-left:49%}*/
.media:nth-child(2n){clear:left; margin-left:0px}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;width:10em}

.media h2{margin-top:0}
.media h3{margin-top:10px}

@media (max-width: 60em) {
    /*.media {margin:10px;float:left;width:99%}*/
    .media {margin:10px 0;float:none;width:98%}
}
